@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand", serif;
  padding: 0;
  box-sizing: border-box;
}

header,
.hero-con,
.curriculum,
.all-story ,.foot{
  max-width: 1280px;
  margin: 0 auto;
}
/* shared styles */
.display-flex {
  display: flex;
}
img {
  width: 100%;
}

/* header styles */

/* navbar related styles */
.navbar {
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-links {
  text-decoration: none;
}
 .btn {
  border-radius: 12px;
  background: rgb(254, 163, 1);
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 10px;
  border: 2px orange;
}
.btn:hover{
  background-color: white;
  color: orange;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.logo {
  align-items: center;
}

.navbar h2 {
  font-size: 32px;
  font-weight: 700;
  padding: 17px;
}

.home a {
  color: rgb(254, 163, 1);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
}

.about a {
  color: rgb(1, 172, 253);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
}

.faci a {
  color: rgb(5, 212, 223);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
}

.admi a {
  color: rgb(93, 88, 239);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
}

ul li a:hover {
  text-decoration: underline;
}

.mobile {
  display: none;
}

hr {
  display: none;
}

/* Hero Section */
.hero-con {
  display: flex;
  gap: 50px;
  align-items: center;
}

.hero-con h1 {
  font-size: 56px;
  font-weight: 700;
}

.emp {
  color: rgb(254, 163, 1);
}

.to {
  color: rgb(1, 172, 253);
}

.hero-con p {
  font-size: 20px;
  font-weight: 400;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.enroll {
  border-radius: 12px;

  color: white;
  background: rgb(17, 17, 17);
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid black;
}

.enroll:hover {
  background-color: white;
  color: black;
}

.standard,
.story {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 40px;
  gap: 30px;
}

.box p {
  color: rgb(128, 128, 128);
  font-size: 15.09px;
  font-weight: 500;
  text-align: center;
}

.box h3 {
  color: rgb(32, 32, 32);
  font-family: Quicksand;
  font-size: 24.52px;
  font-weight: 700;
}

.box .readmore {
  font-size: 15.09px;
  font-weight: 700;
}

.box-con {
  display: flex;
  gap: 28px;
}

.box img {
  width: 136px;
}

.box1 {
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.box2 {
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.box3 {
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.box1 .readmore {
  color: rgb(100, 200, 255);
}

.box2 .readmore {
  color: rgb(240, 170, 0);
}

.box3 .readmore {
  color: rgb(135, 0, 255);
}

.arrow {
  display: flex;
  gap: 10px;
  margin-bottom: 60px;
}

.curriculum {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.title {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 46px;
  font-weight: 700;
  margin-top: 80px;
}

.fa-arrow-left,
.fa-arrow-right {
  border-radius: 30px;
  color: white;
  padding: 20px;
  font-size: 1.3rem;
  background: rgb(254, 163, 1);
  border: 2px solid rgb(240, 170, 0);
}

.fa-solid:hover {
  background-color: white;
  color: rgb(240, 170, 0);
}

/* Our Story */

.story {
  background:url('../assets/bg.png'), linear-gradient(
    0deg,
    rgba(254, 163, 1, 0.3),
    rgba(255, 255, 255, 0.3) 100%
  );
}

.story-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.big-story {
  border-radius: 16px;

  background: rgb(255, 255, 255);
}

.big-story img {
  border-radius: 16px 16px 0 0;
  position: relative;
}

.big-story h3 {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 30px;
}

.big-story-data{
    padding: 0 40px;
}

.big-story .date {
  border-radius: 47.93px;
    position: relative;
  background: rgb(60, 216, 232);
  color: rgb(255, 255, 255);
  font-size: 15.34px;
  font-weight: 500;
  padding: 15px 20px;
  border: none;
  margin-top: -25px ;
  width: 40%;
}


.big-text{
    color: rgb(102, 102, 102);

font-size: 15.34px;
font-weight: 500;
padding-bottom: 30px;
}

.short-story-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.short-story{
    border-radius: 16px;

background: rgb(255, 255, 255);
}



#story-data{
    margin-left: 20px;
}

.short-story-container img{
    position: relative;
    border-radius: 16px 16px 0px 0px;
}

.date2{
    border-radius: 47.93px;

background: rgb(149, 178, 38);
position: relative;
width: 60%;
padding: 10px;
color: white;
margin-top: -25px;
}

.short-story h3{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 15.34px;
font-weight: 700;
padding: 20px;
}

.all-story .title{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 46px;
font-weight: 700;
text-align: center;
margin-bottom: 80px;
}

.all-story{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-story .enroll{
    margin-top: 60px;
    margin-bottom: 80px;
}
marquee{
  padding-bottom: 20px;
  font-size: 20px;
}



/* Footer */
footer{
    background: rgb(1, 172, 253);
}

.foot{
  display: flex;
  padding: 140px 0;
  justify-content: space-between;
}

.foot-left{
  display: flex;
  align-items: center;
}

.footer-logo{
  width: 30%;
}

.social-icon{
  display: flex;

}

.footer-logo h2{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 30px;
font-weight: 700;
}

.footer-logo p{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
margin-top: 35px;
}



.footer-nav h3{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
}


.footer-nav ul li{
  list-style: none;
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
padding: 15px 0;
}

.footer-nav ul{
  margin-top: 30px;
}


.social h3{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 26px;
font-weight: 700;
margin-bottom: 24px;
}

.social-icon{
  display: flex;
  gap: 10px;
}

.date3{
  background: rgb(93, 88, 240);
}